UUIDs in accumulated error list from upper case to lower case

**This issue is blocking**

The accumulated error list have changed from sending UUIDs in upper case to sending UUIDs in lower case.
 
Some of the UUIDs in the CDA documents are required to be upper case by the LPR3 service.

The example in the LPR3 interface specification are also in upper case:
 https://scandihealth.github.io/lpr3-docs/interface/accumulated-error-list/index.html#example

Is this related to https://github.com/scandihealth/lpr3-docs/issues/292? (Fixed on the 29th of January)

> Some of the UUIDs in the CDA documents are required to be upper case by the LPR3 service.

This is not true anymore as of #166:
> **RESOLUTION**
We will be updating the art-decor installation so that non-uppercase lexical representations of Universal Unique Identifiers will give a schematron info instead of an error. This should take care of the issue with HL7 CDA in-conformance with RFC 4122, as UUID internally are stored as bytes defined in [RFC 4122 section 4.1.2](https://tools.ietf.org/html/rfc4122#section-4.1.2)

I think the observed change in accumulated error list at this time is a result of the #292 bug hiding the changes introduced by #166. 

Since LPR now accepts both uppercase and lowercase string representations of UUIDs as per [RFC 4122](https://tools.ietf.org/html/rfc4122) and now stores UUIDs as bytes instead of as strings, LPR can no longer know what case was used in the input CDA document when generating the accumulated error list. Also the spec says that UUID string representations should be output in lower case
> The hexadecimal values "a" through "f" are output as lower case characters and are case insensitive on input.


It is regrettable that this has not been communicated clearly, but I think going forward you must ignore case when comparing UUID string representations sent to/from LPR. 


The example on https://scandihealth.github.io/lpr3-docs/interface/accumulated-error-list/index.html#example is from before the changes introduced by #166 and should be updated.