<invalid_signature> The signature or decryption was invalid

Hi

I am trying to access LPR3 and get <invalid signature> error.
LPR3 Endpoint: https://lprws-test.sds.dsdn.dk/cda-ws/DocumentRepository_Service/PatientHealthcareValidateReportingService

`invalid_signature. The signature or decryption was invalid`

[ProvideAndRegisterDocumentSetEnvelopeMyClinic17Jan.txt](https://github.com/scandihealth/lpr3-docs/files/2769621/ProvideAndRegisterDocumentSetEnvelopeMyClinic17Jan.txt)
[Response(FromLPR3).txt](https://github.com/scandihealth/lpr3-docs/files/2769623/Response.FromLPR3.txt)

Whats missing in the call?

With best
Kashif


Hi @Kashif-Ali-110  and @vprxa 

Sorry we do not have the resources to assist with integration difficulties at the moment. We are focusing all our efforts on the last batch of bugfixes before LPR3 starts receiving live production data this weekend.

Hopefully we have better time next week.

Have you compared your request to the [example saml:Assertion](https://scandihealth.github.io/lpr3-docs/examples/index.html#sample-request-using-mtomxop)?
```xml
            <saml:Assertion
                xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
                IssueInstant="2018-04-05T07:52:03Z" Version="2.0" id="IDCard">
                <saml:Issuer>TEST1-NSP-STS</saml:Issuer>
                <saml:Subject>
                    <saml:NameID Format="medcom:other">SubjectDN={SERIALNUMBER=CVR:25469364-FID:96988661
                        + CN=DXC Technology - LPR Indberettersystem (funktionscertifikat),
                        O=CSC SCANDIHEALTH A/S // CVR:25469364,
                        C=DK},IssuerDN={CN=TRUST2408 Systemtest XXII CA, O=TRUST2408,
                        C=DK},CertSerial={1494965723}
                    </saml:NameID>
                    <saml:SubjectConfirmation>
                        <saml:ConfirmationMethod>urn:oasis:names:tc:SAML:2.0:cm:holder-of-key
                        </saml:ConfirmationMethod>
                        <saml:SubjectConfirmationData>
                            <ds:KeyInfo
                                xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
                                <ds:KeyName>OCESSignature</ds:KeyName>
                            </ds:KeyInfo>
                        </saml:SubjectConfirmationData>
                    </saml:SubjectConfirmation>
                </saml:Subject>
                <saml:Conditions NotBefore="2018-04-05T07:52:03Z"
                    NotOnOrAfter="2018-04-06T07:52:03Z" />
                <saml:AttributeStatement id="IDCardData">
                    <saml:Attribute Name="sosi:IDCardID">
                        <saml:AttributeValue>D/JsXK+ToUO8ErmLd5pVzw==
                        </saml:AttributeValue>
                    </saml:Attribute>
                    <saml:Attribute Name="sosi:IDCardVersion">
                        <saml:AttributeValue>1.0.1</saml:AttributeValue>
                    </saml:Attribute>
                    <saml:Attribute Name="sosi:IDCardType">
                        <saml:AttributeValue>system</saml:AttributeValue>
                    </saml:Attribute>
                    <saml:Attribute Name="sosi:AuthenticationLevel">
                        <saml:AttributeValue>3</saml:AttributeValue>
                    </saml:Attribute>
                    <saml:Attribute Name="sosi:OCESCertHash">
                        <saml:AttributeValue>GXaVFH7J+YHFZ8hYp/7c7l9fvAo=
                        </saml:AttributeValue>
                    </saml:Attribute>
                </saml:AttributeStatement>
                <saml:AttributeStatement id="SystemLog">
                    <saml:Attribute Name="medcom:ITSystemName">
                        <saml:AttributeValue>TRUST2408 Systemtest XIX CA
                        </saml:AttributeValue>
                    </saml:Attribute>
                    <saml:Attribute Name="medcom:CareProviderID"
                        NameFormat="medcom:cvrnumber">
                        <saml:AttributeValue>25469364</saml:AttributeValue>
                    </saml:Attribute>
                    <saml:Attribute Name="medcom:CareProviderName">
                        <saml:AttributeValue>DXCTechnology</saml:AttributeValue>
                    </saml:Attribute>
                </saml:AttributeStatement>
                <ds:Signature
                    xmlns:ds="http://www.w3.org/2000/09/xmldsig#" id="OCESSignature">
                    <ds:SignedInfo>
                        <ds:CanonicalizationMethod
                            Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#" />
                        <ds:SignatureMethod
                            Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
                        <ds:Reference URI="#IDCard">
                            <ds:Transforms>
                                <ds:Transform
                                    Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" />
                                <ds:Transform
                                    Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#" />
                            </ds:Transforms>
                            <ds:DigestMethod
                                Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />
                            <ds:DigestValue>Nror9L7H5JS2ywqUkuc+3Q9DbYY=</ds:DigestValue>
                        </ds:Reference>
                    </ds:SignedInfo>
                    <ds:SignatureValue>URCeKOJfp+IrrO1+m1NNLc31diP12aUNSHRXGdQyWdZOUGOzqCA8eX6RVy6rOjvX68nZIwklKzPAdyJ5RU/YYbKlehROeSMDHuus3BLG5eRieNPS5u64XcGrtGgCQRSDvU6vnV+A6dSCgE6s06OUKYEPHn9FmRChZqjVpVSNP2YDn/FOT9WkMy85N9pjwzrAvo4NjAgdxKGv5g0Evl+1M/CcX4IZ0ui1CTCNClMzOTncUpkrnD0HZZGHTt8HyKuV5KLNQY08CD9e7B2h9U4HoQII8ImMf4Qme3cj0fT4GOQmbs/UFeMI772xrWwS62y/FGH2SKZb+RGvc5BF13P3JA==
                    </ds:SignatureValue>
                    <ds:KeyInfo>
                        <ds:X509Data>
                            <ds:X509Certificate>MIIGJjCCBQ6gAwIBAgIEVp5mfDANBgkqhkiG9w0BAQsFADBHMQswCQYDVQQGEwJESzESMBAGA1UECgwJVFJVU1QyNDA4MSQwIgYDVQQDDBtUUlVTVDI0MDggU3lzdGVtdGVzdCBYSVggQ0EwHhcNMTYwNTA0MDg1NTAwWhcNMTkwNTA0MDg1NDAxWjCBlDELMAkGA1UEBhMCREsxLjAsBgNVBAoMJVN1bmRoZWRzZGF0YXN0eXJlbHNlbiAvLyBDVlI6MzMyNTc4NzIxVTAgBgNVBAUTGUNWUjozMzI1Nzg3Mi1GSUQ6NzY3OTQ4ODQwMQYDVQQDDCpTT1NJIFRlc3QgRmVkZXJhdGlvbiAoZnVua3Rpb25zY2VydGlmaWthdCkwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCQipkwYq5Ncc68/6/ACLJK1k/I7wTMNq0lho7NvnGWGNAJkblmRksq6meGEGYgw5ZdvDqwsudKE+mU7YjZZ+EqW9HgceYYeoEObwR81r0/tAIbDTN2kLA8L2ZautRXI4+kq/+8tvqTwfCZjfx6AmbeL1Ky7npMlGZoluc5YjTR7bsJACr/caSzE6rf8bEFiJappjTCtIBQlQDuwGVUWjRU37SAr3mGlzgH7DnaVOJoBrjHW0OuPSm8mVImdym3sKlNleX8jiBhsvfaXl720aISg+dkVU4iEsXphlckV8GxQKfqNMuqGg2itLEEhJitBCrHYMlRtMx/kVtXJk/saMQjAgMBAAGjggLKMIICxjAOBgNVHQ8BAf8EBAMCA7gwgZcGCCsGAQUFBwEBBIGKMIGHMDwGCCsGAQUFBzABhjBodHRwOi8vb2NzcC5zeXN0ZW10ZXN0MTkudHJ1c3QyNDA4LmNvbS9yZXNwb25kZXIwRwYIKwYBBQUHMAKGO2h0dHA6Ly9mLmFpYS5zeXN0ZW10ZXN0MTkudHJ1c3QyNDA4LmNvbS9zeXN0ZW10ZXN0MTktY2EuY2VyMIIBIAYDVR0gBIIBFzCCARMwggEPBg0rBgEEAYH0UQIEBgQCMIH9MC8GCCsGAQUFBwIBFiNodHRwOi8vd3d3LnRydXN0MjQwOC5jb20vcmVwb3NpdG9yeTCByQYIKwYBBQUHAgIwgbwwDBYFRGFuSUQwAwIBARqBq0RhbklEIHRlc3QgY2VydGlmaWthdGVyIGZyYSBkZW5uZSBDQSB1ZHN0ZWRlcyB1bmRlciBPSUQgMS4zLjYuMS40LjEuMzEzMTMuMi40LjYuNC4yLiBEYW5JRCB0ZXN0IGNlcnRpZmljYXRlcyBmcm9tIHRoaXMgQ0EgYXJlIGlzc3VlZCB1bmRlciBPSUQgMS4zLjYuMS40LjEuMzEzMTMuMi40LjYuNC4yLjCBqgYDVR0fBIGiMIGfMDygOqA4hjZodHRwOi8vY3JsLnN5c3RlbXRlc3QxOS50cnVzdDI0MDguY29tL3N5c3RlbXRlc3QxOS5jcmwwX6BdoFukWTBXMQswCQYDVQQGEwJESzESMBAGA1UECgwJVFJVU1QyNDA4MSQwIgYDVQQDDBtUUlVTVDI0MDggU3lzdGVtdGVzdCBYSVggQ0ExDjAMBgNVBAMMBUNSTDYyMB8GA1UdIwQYMBaAFMwCVQzkgXSvIFTVERRXnJFSOH+gMB0GA1UdDgQWBBReXoe6mR11zHQv0ijlArnWLWd+2zAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQB282klteVINHqXZstuEV10hfn/4C2q/XcjFFlgayapYXcL6p+5Znw49fldmRKGvQ0nvjAIQD3soQNK3VBgnV7pL+KdmpyCQVv59WDjSNFeMbxwE1V5O3MDHw4S4DKivz1EDPgdZNPkgGOZQAA96ZmHsO4tq8n+TrNEDMkpHzcEQz9Ngu/H8/YYjRm8Dk+ffN7U2btu/XOXr5xhX3RCXhgoGuNY74Q7BsETO5ErIRKgtpX01iwwjs/HGKA50GZJnWeum1ssNXx2aT83hTGu96m1YvX3LnLPkOXsA1ocwv0USwadblrWlxDbULluC8THO7MpX+/uhLptwFXWgZv/Pr5k
                            </ds:X509Certificate>
                        </ds:X509Data>
                    </ds:KeyInfo>
                </ds:Signature>
            </saml:Assertion>
```



A common pitfall is to change the serialized representation of the XML Information Set after signing it, e.g. pretty printing.

Thanks, I'm making my request in C# with the following MessageEncoding and TextEncoding:
```sh  
BasicHttpBinding GetBinding()
{        
	var binding = new BasicHttpBinding
	{
		Name = "WebServiceSoap",
		MessageEncoding = WSMessageEncoding.Mtom,
		TextEncoding = Encoding.UTF8
	};

	binding.Security.Mode = BasicHttpSecurityMode.Transport;
	binding.Security.Message.AlgorithmSuite = System.ServiceModel.Security.SecurityAlgorithmSuite.Default;
	
	return binding;
}
```

The Assertion is created and mapped between `dk.nsi.seal.dgwstypes` types and  `LPR3DocumentRepositoryService` types. I compared against the examples provided in lpr3-docs and from what I can see, the values in the security object are set accordingly. Do you know where the exception is thrown please? I'm not sure where to look.

Thank you,  
Joe

Hi Joe

Can you attach the raw HTTP request that fails.

Hi @jonigkeit,

Here is the request:
[LPR3_Raw_Request_050219.txt](https://github.com/scandihealth/lpr3-docs/files/2831278/LPR3_Raw_Request_050219.txt)

Thank you,
Joe

Hi Joe,

I am also following if get any update.

With best
Kashif.

Hi @jonigkeit ,

I wonder if you have found time to shine light on this please?

Thank you,
Joe

Hi @vprxa

The request you have posted specifies `Content-Transfer-Encoding: 8bit` for the first MIME part and the content of that MIME part is more than 1000 octets yet there is no single newline, cf. [RFC-2045 Section 2.8](https://tools.ietf.org/html/rfc2045#section-2.8)

Can you attached the raw response you get from the STS test endpoint?

Hi @jonigkeit,

Here is the request:
[LPR3_RAW_Response_STS_110219.txt](https://github.com/scandihealth/lpr3-docs/files/2851372/LPR3_RAW_Response_STS_110219.txt)

Thank you,
Joe

Seems like you have tampered with the signed idcard, e.g. changed namespace prefix.

Hi @jonigkeit,
Thank you for your reply. I have changed the namespace as advised to match the sample provided in lpr3-docs. 

I have sent the request directly through fiddler:
[LPR3_Raw_Request_120219.txt](https://github.com/scandihealth/lpr3-docs/files/2856663/LPR3_Raw_Request_120219.txt)

I receive the same error:
[LPR3_Raw_Response_120219.txt](https://github.com/scandihealth/lpr3-docs/files/2856662/LPR3_Raw_Response_120219.txt)

Please let me know if the namespace changes are what you refer to and if the request and header information are what you would expect. If I can rule out the formatting, where might I look next to make a change?

Much appreciated,
Joe

Looks to me like you still modify the serialized representation of signed XML Information Set under the Assertion element you receive from STS.
I suggest you brush up on 

Looks to me like you still modify the serialized representation of signed  XML Information Set under the Assertion element you receive from STS.
I suggest you brush up on [XMLDSig](https://www.w3.org/TR/xmldsig-core/)

Hi @jonigkeit,
Thank you for the material.

I can confirm the test certificate that I’m using works as I have used the assertion against another service successfully. Excuse my ignorance but with many attempts comparing against a successful soap request and your information, I cannot get it working. Would you be able to send through a fiddler trace of a working request please?

I have checked that the SignatureValue and KeyInfo values retrieved from STS are not malformed. 
I made the soap envelope using the sample in lpr-docs. Are the prefixes you refer to missing from here for brevity? Below is a request with the bindings added to the envelope:
[LPR3_Raw_Request_14022019.txt](https://github.com/scandihealth/lpr3-docs/files/2865112/LPR3_Raw_Request_14022019.txt)

Thank you for taking the time,
Joe


Hi @vprxa and @jonigkeit 

I have move forwarded and can acccess the ClinicalDocument Schematron validation things. :) But still many other registry types error.

Anyway.
@vprxa In the above Request, remember to keep medcom header (white listning header) in the soap envelope
e.g.
`<HsuidHeader xmlns="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd">
			<Assertion IssueInstant= "2019-02-14" Version="1" id="HSUID" xmlns="http://www.nsi.dk/hsuid/2016/08/hsuid-1.1.xsd">
				<Issuer>MYCLINIC A/S</Issuer>
				<AttributeStatement id="HSUIDdata">
					<Attribute Name="nsi:UserType">
						<AttributeValue>MYC</AttributeValue>
					</Attribute>
					<Attribute Name="nsi:OrgResponsibleName">
						<AttributeValue>MYCLINIC A/S</AttributeValue>
					</Attribute>
					<Attribute Name="nsi:SystemOwnerName">
						<AttributeValue>MYCLINIC A/S</AttributeValue>
					</Attribute>
					<Attribute Name="nsi:SystemName">
						<AttributeValue>MYCLINIC A/S</AttributeValue>
					</Attribute>
					<Attribute Name="nsi:SystemVersion">
						<AttributeValue>3.0</AttributeValue>
					</Attribute>
				</AttributeStatement>
			</Assertion>
		</HsuidHeader>`

And secondly, remove all empty spaces and lines in the soap request. Hopefully you will also move forward.

With best,
Kashif.